<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>adminCouchDB</title>
	<link rel='stylesheet' type="text/css" href='/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href='/css/styleAdmin.css' >
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="container row">
            <div class="row">
				<h4>adminCouchDB</h4>
				<img src="/images/admin.png"/ height=40 width=50>
            </div>  
        </nav>
    </header>
	<section class="homeAdmin">
		<div class=" col-5">
			Views:
			<a class="a btn" href="/adminCouchDB/Mascotas">  Tabela Pet  </a> 
			<a class="a btn" href="/adminCouchDB/Donos">  Tabela Donos  </a> 
			<a class="a btn" href="/adminCouchDB/Produtos">  Tabela Produtos  </a> 
			<a class="a btn" href="/adminCouchDB/Servicios">  Tabela Servicios  </a> 
		</div>
		<br><br>
		<h1><%= tabela%></h1>
		<br>
		<table class="table table-striped table-bordered">
			<tr>
				<% for(var i=0;i<etiqueta.length;i++){ %>
				<td><h5><%= etiqueta[i]%></h5></td>
				<%} %>
				<td><h5>Action</h5></td>
			</tr>
			
			<% for(var i=0;i<data.length;i++){ %>
			<% var count = 0%>
				<% for(var j=0;j<etiqueta.length;j++){ %>
				<% if( (data[i].value)[etiqueta[j]]!=null){%>
				<% count++;%>
				<% }}%>
			<% if(  (data[i].value)[etiqueta[0]]!=null && (count==etiqueta.length||(tabela=="Pets"&&count==4))){%>
			<tr>
				<% for(var j=0;j<etiqueta.length;j++){ %>
					<% var str = etiqueta[j]; %>
					<% if(  (data[i].value)[str]!=null){%>
					<td><%= (data[i].value)[str] %></td>
					<% }else if(j>3){%>
					<td><%= (data[i].value[aux])[str] %></td>
				<% }} %>
				<td>
					<form method="POST" action="/adminCouchDB/<%= dir %>/delete/<%= data[i].key %>">
						<input type="hidden" value="<%= data[i].value.rev %>" name="rev">
						<input type="submit" value=" Delete ">
					</form>
				</td>
			<%} %>
			<%} %>
			</tr>
		</table>
		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/bootstrap.min.js"></script>
	</section>
    <footer>
        <div>
            <div class="col-8">
                2016®- <a href="https://github.com/CruzLeyvaSegundo" target="_blank" class="layout_a">Segundo Cruz</a>
            </div>
        </div>
    </footer>
</body>
</html>
