<!DOCTYPE html>
<html>
    <head>
        <title>PetShop</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
		<style type="text/css">
			.msg-erro
			{ 
				color: red; 
			}
		</style>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="row between middle">

                    <div class="row">
                        <a href="/">
                            <img src="images/logoPet.svg"/ height=60 width=60>
                        </a>
						<a href="/" class="row middle">
							<h2>PetShop</h2>
						</a>
                    </div>

                    <div class="col-3 end">
                        <ul class="row between">
                            <li class="col">
                                <a href="/Cadastro" class="layout_a">Cadastro Pet</a>
                                </li>
                            <li class="col">
                                <a href="/Produtos" class="layout_a">Produtos</a>
                            </li>
                            <li class="col">
                                <a href="/Servicios" class="layout_a">Serviços</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>


        <section class="home4">

            <div class="container">
                <div class="row start">
                     <form id="form" action="/Servicios" method="POST">
						<h3>Serviços</h3><br>
						Item: <br>
						 <select name="item">
							<option value="shower">Shower</option>
							<option value="pedicure">Pedicure</option>
							<option value="cortePelo">Corte de cabelo</option>
						 </select>
						 Precio:
						 <input type="text" id="precio" name="precio" value="25" disabled>
						 <br>
						 Nome da Mascota:<br>
						 <input type="text" id="nomMascota" name="nomMascota" value=<%= nomMascota %> >
						 <span class='msg-erro msg-nomMascota'><%= span1 %></span>
						 <br>
						 Nome do proprietário:<br>
						 <input type="text" id="nomPropietario" name="nomPropietario" value=<%= nomPropietario %> >
						 <span class='msg-erro msg-nomPropietario'><%= span2 %></span>
						 <br>
						 Endereço do proprietário:<br>
						 <input type="text" id="dirPedido" name="dirPedido" value=<%= dirPedido %> >
						 <span class='msg-erro msg-dirPedido'><%= span3 %></span>
						 <br><br>
						<input type="submit" value="Solicitar" class="col-12 center boton" id='botao' >	
					</form>
                </div>
            </div>

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        2016®- <a href="https://github.com/CruzLeyvaSegundo" target="_blank" class="layout_a">Segundo Cruz</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>